body{

background:url("images/background.jpeg") no-repeat;
background-attachment: fixed;
background-size: cover;
font-family: 'Do Hyeon', sans-serif;
color: white;
}
.container{
   text-align:center;


}
.grid{
  display: grid;
   grid-template-columns: repeat(2,1fr);

}


.LiveCal{

   overflow-y: auto;
   width: auto;
background-color: white;
display: block;
padding: 0px 0px;
   right: 0px;
   height: 200px


}
p span{
  font-size: 1rem;
  font-weight: lighter;
  font-style: italic;
}
p{
  text-align: left;
  font-size: 2rem;
  color: black;
}
table{
    margin:auto;
}
input{
    font-size: 26px;
    width: -webkit-fill-available;
    height: 81px;
    border:0px ;
    border-radius: 0px;
    font-family: "Inter", sans-serif;
    background:white;

}


.evals{
    background:linear-gradient(#f3626d,#fe6e6d, #ffb16f);
    border-radius: 50%;
    border-collapse: collapse;
    width: 50px;
    height: 50px;
}

button{

    font-size: 18px;

    color: ivory;
    width: 80px;
    height: 55px;
    border: 0px solid black;
    border-radius: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0));
}
.calculator{
    display: inline-block;
    border: 0px;
    background: url(images/13337.jpg) no-repeat;
    background-position: center;
    padding: 0px 0px;
    border-radius: 0px;
    height: 447px;

}

#Caution{
  color:black;
    font-size: 0.7rem;
    text-align: center;
}
#display{
  border:2px solid black;
  padding:5px;
  font-size: 1.3rem;
  text-align: left;
}
th{
  font-size: 25px;
  font-weight: 600;

}
button:hover{
    background:white;
    color: black;

}
@media   (max-width:576px) {

    .site-main-wrapper{
      overflow-y: hidden;

    }

    .calculator{
        width: 96%;
        height: 448px;
    }
    #Caution{
        font-size: 0.9rem;
        text-align: center;
    }

}
